.jumbotron{
    background-color: rgb(211, 221, 71);
    color:rgb(10, 5, 87);
    margin-top: 50px;
}

.breadcrumb-estilo{
    background-color: rgb(185, 185, 185)
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(211, 221, 71);
    margin-bottom: 0px;
    margin-top: 15px;
}
.card-servicio{
    flex: 1 400px;
    padding: 2px 0px 2px 0px;
}
.card-equipo{
    flex: 1 400px;
    padding: 2px 0px 2px 0px;
}

.btn-reserve{
    width: 100%;
}
.btn-equipo{
    width: 50%;
    margin-right: 25%; 
    margin-left: 25%;
    
}
.footer-address-icon{
    padding-right: 10px;
}
