$yellow:#e3a730;
$verde: #02571d;
$rojo: #a62403;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}
.jumbotron{
    background-color:$yellow;
    color:rgb(10, 5, 87);
    @include margenes(50px, 15px)
}

.breadcrumb-estilo{
    background-color: rgb(185, 185, 185)
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(15px, 0px)
   
}
.card-servicio{
    flex: 1 400px;
    padding: 2px 0px 2px 0px;
}
.card-equipo{
    flex: 1 400px;
    padding: 2px 0px 2px 0px;
}

.btn-reserve{
    width: 100%;
}
.btn-equipo{
    width: 50%;
    margin-right: 25%; 
    margin-left: 25%;
    
}
.footer-address-icon{
    padding-right: 10px;
}
