.jumbotron {
  background-color: #08a339;
  color: #0a0557;
  margin-top: 50px;
  margin-bottom: 15px; }

.breadcrumb-estilo {
  background-color: #b9b9b9; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #e3a730;
  margin-top: 15px;
  margin-bottom: 0px; }

.card-servicio {
  flex: 1 400px;
  padding: 2px 0px 2px 0px; }

.card-equipo {
  flex: 1 400px;
  padding: 2px 0px 2px 0px; }

.btn-reserve {
  width: 100%; }

.btn-equipo {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%; }

.footer-address-icon {
  padding-right: 10px; }

/*# sourceMappingURL=style.css.map */
