@amarillo:#e3a730;
@verde: #08a339;
@rojo: #a62403;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}
.jumbotron{
    background-color:@verde;
    color:rgb(10, 5, 87);
    .margenes(50px, 0px)
}

.breadcrumb-estilo{
    background-color: rgb(185, 185, 185)
}

footer{
    padding: 10px 10px 0 10px;
    background-color: @amarillo;
    .margenes(15px, 0px)
   
}
.card-servicio{
    flex: 1 400px;
    padding: 2px 0px 2px 0px;
}
.card-equipo{
    flex: 1 400px;
    padding: 2px 0px 2px 0px;
}

.btn-reserve{
    width: 100%;
}
.btn-equipo{
    width: 50%;
    margin-right: 25%; 
    margin-left: 25%;
    
}
.footer-address-icon{
    padding-right: 10px;
}
